1. Given two integer numbers, write a Python code to return their product only if the product is equal to or lower than 1000. Otherwise, return their sum.

In [23]:
a=int(input('imput a numer for a'))
b=int(input('input a number for b'))
product=(a*b)
if product<=1000:
 print(product)
else:
 print('product must be less than a equal to 1000')

product must be less than a equal to 1000

2. Write a Python code to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number

In [6]:
def sum():
 num=0
total=0
count=0
while num<=10:
 count+=1
num+=count
total+=total
sum()

3. Write a code to return True if the list’s first and last numbers are the same. If the numbers are different, return False.

In [ ]:
list=[1,2,3,4,5,6,6,6,4,5,6,1]
print(list)
if list[0]==list[-1]:
    print('True')
else:
    print("false")

[1, 2, 3, 4, 5, 6, 6, 6, 4, 5, 6, 1]
True

4. Write a Python code to check if the given number is palindrome. A palindrome number is a number that is the same after reverse. For example, 545 is the palindrome number.

In [ ]:
def is_palindrome(m):
   return str(m)==str(m)[::-1]
num=int(input('Enter a number: '))
if is_palindrome(num):
   print(f"{num} is a palindrome")
else:
   print(f"{num} is not a palindrom")

1551 is a palindrome

5. Write a program to create a function show_employee() using the following conditions.

* It should accept the employee’s name and salary
and display both.
* If the salary is missing in the function call then assign default value 9000 to salary

In [ ]:
def show_employee(name,salary=9000):
 print(f"{name} your salary is {salary}")
show_employee("Gam")

Gam your salary is 9000

6. Below are the two lists. Write a Python program to convert them into a dictionary in a way that item from list1 is the key and item from list2 is the value

**keys** = ['Ten', 'Twenty', 'Thirty']

**values** = [10, 20, 30]

In [ ]:
keys=['ten','twenty','thirty']
values=[10,20,30]
print(keys,values)
dictionary=dict(zip(keys,values))
print(dictionary)

['ten', 'twenty', 'thirty'] [10, 20, 30]
{'ten': 10, 'twenty': 20, 'thirty': 30}

7. Print the value of key ‘history’ from the below dict

sampleDict = {
  
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [ ]:
sampleDict={
    'class':{
        'student':{
            'name': 'mike',
            'marks':{
                'physics':70,
                'history':80
            }
        }
    }
}
sampleDict['class']['student']['marks']['history']

80

8. We know how to check if the key exists in a dictionary. Sometimes it is required to check if the given value is present.

Write a Python program to check if value 200 exists in the following dictionary.

**sample_dict** = {'a': 100, 'b': 200, 'c': 300}

In [ ]:
sample_dict={'a':100,'b':200,'c':300}
if 200 in sample_dict.values():
    print('200 is in sample dict')
else:
    print('200 is not in sample_dict')

200 is in sample dict

9. Get the key of a minimum value from the following dictionary

sample_dict = {

  'Physics': 82,

  'Math': 65,

  'history': 75

}

Expected Output : Math

In [11]:
sample_dict={
    'physics':82,
    'maths':65,
    'history':75
}
min_key=min(sample_dict,key=sample_dict.get)
print(min_key)

maths

10. Swap two tuples in Python

tuple1 = (11, 22)

tuple2 = (99, 88)

**Expected Output**:

In [ ]:
tuple1=(11,22)
tuple2=(99,88)
tuple1,tuple2=tuple2,tuple1
print(f" tuple1: {tuple1}")
print(f"tuple2: {tuple2}")

 tuple1: (99, 88)
tuple2: (11, 22)

11. Write a program to copy elements 44 and 55 from the following tuple into a new tuple.

**Given**:

tuple1 = (11, 22, 33, 44, 55, 66)

**Expected output**:

tuple2: (44, 55)

In [ ]:
tuple1=(11,22,33,44,55,66)
tuple2=tuple1[3],tuple1[4]
print(f"tuple2: {tuple2}")

tuple2: (44, 55)

12. Counts the number of occurrences of item 50 from a tuple

**Given:**

tuple1 = (50, 10, 60, 70, 50)

**Expected output:**

2

In [ ]:
tuple1=(50,10,60,70,50)
print(tuple1.count(50))

2

13. You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

**Given**:

list1 = [5, 10, 15, 20, 25, 50, 20]

**Expected output**:

[5, 10, 15, 200, 25, 50, 20]

In [ ]:
def my_list(list1):
  list1=[5,10,15,20,25,50,20]
if 20 in list1:
    list1[list1.index(20)]=200
    print(list1)

[5, 10, 15, 200, 25, 50, 200]

14. Remove all occurrences of a specific item from a list.
Given a Python list, write a program to remove all occurrences of item 20.

**Given**:

list1 = [5, 20, 15, 20, 25, 50, 20]

**Expected output**:

[5, 15, 25, 50]

In [16]:

list1=[5,20,15,20,25,50,20]
while 20 in list1:
    list1.remove(20)
    print(list1)

[5, 15, 20, 25, 50, 20]
[5, 15, 25, 50, 20]
[5, 15, 25, 50]

15. Given two Python sets, write a Python program to update the first set with items that exist only in the first set and not in the second set.

**Given**:

set1 = {10, 20, 30}
set2 = {20, 40, 50}

**Expected output**:

set1 = {10, 30}

In [ ]:
set1={10,20,30}
set2={20,40,50}
set1=set1-set2
print(f"set1= {set1}")

set1= {10, 30}

16. Display Fibonacci series up to 10 terms
Have you ever wondered about the Fibonacci Sequence? It’s a series of numbers in which the next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.

For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series is 13 + 21 = 34.

**Expected output**:

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

In [ ]:
a,b=0,1
for i in range(10):
  print(a,end=" ")
  a, b = b, a+b

0 1 1 2 3 5 8 13 21 34

17. Write a function that takes a nested dictionary of students' scores and returns the student with the highest average score.

**Example input**:

students = {

    "Alice": {"Math": 85, "English": 92, "Science": 88},
    "Bob": {"Math": 78, "English": 81, "Science": 85},
    "Charlie": {"Math": 95, "English": 89, "Science": 94},
}

**Expected output**:

Output: "Charlie"

In [22]:
def highest_average_student(students):
    highest_avg = 0
    top_student =""
    
    for student, subjects in students.items():
        average_score = sum(subjects.values()) / len(subjects)
        if average_score > highest_avg:
            highest_avg = average_score
            top_student = student
    
    return top_student
students = {
    "Alice": {"Math": 85, "English": 92, "Science": 88},
    "Bob": {"Math": 78, "English": 81, "Science": 85},
    "Charlie": {"Math": 95, "English": 89, "Science": 94},
}
print(highest_average_student(students))  # Output: "Charlie"

TypeError: sum() takes 0 positional arguments but 1 was given

18. Write a function that takes a string and returns a dictionary with the frequency of each word.

**Example**:

word_frequency= ("hello world hello Python world")

**Output**: {"hello": 2, "world": 2, "Python": 1}

In [ ]:
def word_frequency(string):
    words = string.split()
    return Counter(words)
text = "hello world hello Python world"
print(word_frequency(text))

Counter({'hello': 2, 'world': 2, 'Python': 1})

19. Write a function that finds the second largest number in a list.

**Example**:

second_largest= [3, 5, 7, 1, 4]

**Output**: 5

In [ ]:
second_largest=[3,5,7,1,4]
second_largest.sort()
print(f"second_largest= {second_largest[-2]}")

second_largest= 5

20. Write a function that sorts a list of strings by their length in ascending order.

sort_by_length= ["Python", "is", "fun"]

**Output**: ["is", "fun", "Python"]

In [ ]:
sort_by_length=["python","is","fun"]
sort_by_length.sort(key=len)
print(sort_by_length)

['is', 'fun', 'python']

**Bonus 1**:
You are tasked with creating a program that tracks students’ grades and calculates their final scores and grades. The program should perform the following:

**Input Student Data**:

Create a function to take input for multiple students, where each student has:

Name (string)

ID (integer)

Grades in 3 subjects (a list of floats)

**Calculate Final Score**:

Create a function that calculates the final score for each student. The final score is the average of their grades in the 3 subjects.

**Assign Grades**:

Create another function that assigns a grade based on the final score:

A for scores >= 90

B for scores >= 80 and < 90

C for scores >= 70 and < 80

D for scores >= 60 and < 70

F for scores < 60

**Output Summary**:

Use a loop to display a summary of all students, including:

Name

ID

Final Score

Grade

**Bonus Challenge**:

Add a function to find the top student (the one with the highest final score).

In [ ]:
def input_student_data():
    students = []
    num_students = int(input("Enter the number of students: "))
    for _ in range(num_students):
        name = input("Enter the student's name: ")
        student_id = int(input("Enter the student's ID: "))
        grades = list(map(float, input("Enter the student's grades for 3 subjects separated by space: ").split()))
        students.append((name, student_id, grades))
    return students

def calculate_final_score(students):
    final_scores = []
    for student in students:
        final_score = sum(student[2]) / len(student[2])
        final_scores.append((student[0], student[1], final_score))
    return final_scores

def assign_grades(final_scores):
    grades = []
    for student in final_scores:
        if student[2] >= 90:
            grade = 'A'
        elif student[2] >= 80:
            grade = 'B'
        elif student[2] >= 70:
            grade = 'C'
        elif student[2] >= 60:
            grade = 'D'
        else:
            grade = 'F'
        grades.append((student[0], student[1], student[2], grade))
    return grades

def output_summary(grades):
    for student in grades:
        print(f"Name: {student[0]}, ID: {student[1]}, Final Score: {student[2]:.2f}, Grade: {student[3]}")

def find_top_student(grades):
    top_student = max(grades, key=lambda student: student[2])
    return top_student

def main():
    students = input_student_data()
    final_scores = calculate_final_score(students)
    grades = assign_grades(final_scores)
    output_summary(grades)
    top_student = find_top_student(grades)
    print(f"\nTop Student: {top_student[0]}, ID: {top_student[1]}, Final Score: {top_student[2]:.2f}, Grade: {top_student[3]}")

if __name__ == "__main__":
    main()

**Bonus 2**: You need to design a Library Management System for a small library. The system should perform the following tasks:

**Add New Books**:

Create a function that allows the librarian to add new books to the system.
Each book should have:

Title (string)

Author (string)

ISBN (string)

Total Copies (integer)

**Borrow a Book**:

Create a function that allows a user to borrow a book by its ISBN.
If the book is not available or all copies are borrowed, display an appropriate message.
Keep track of borrowed books using a dictionary with:

Key: ISBN

Value: Number of borrowed copies.

**Return a Book**:

Create a function that allows a user to return a borrowed book.
Ensure the system updates the borrowed books record properly.

**Display Available Books**:

Create a function that displays all available books along with their title, author, ISBN, and the number of copies currently available.

**Search for a Book**:

Create a function that searches for books by:
Title

Author

Return all matching results.

**Bonus Challenge** :

Add a feature to track which user borrowed which book. For example:
Create a users dictionary where:

Key: User ID

Value: List of borrowed book ISBNs.

In [2]:


def add_book(title, author, isbn, total_copies):
    books[isbn] = {
        'title': title,
        'author': author,
        'total_copies': total_copies,
        'available_copies': total_copies
  }
books ={}
borrowed_books = {}
users = {}

def borrow_book(user_id, isbn):
    if isbn not in books:
        return "This book does not exist in the library."
    if books[isbn]['available_copies'] == 0:
        return "All copies are currently borrowed."
    
    books[isbn]['available_copies'] -= 1
    if isbn in borrowed_books:
        borrowed_books[isbn] += 1
    else:
        borrowed_books[isbn] = 1
    
    if user_id in users:
        users[user_id].append(isbn)
    else:
        users[user_id] = [isbn]
    
    return f"You have successfully borrowed {books[isbn]['title']}."

def return_book(user_id, isbn):
    if user_id not in users or isbn not in users[user_id]:
        return "This user did not borrow this book."

    books[isbn]['available_copies'] += 1
    borrowed_books[isbn] -= 1

    if borrowed_books[isbn] == 0:
        del borrowed_books[isbn]

    users[user_id].remove(isbn)
    if not users[user_id]:
        del users[user_id]
    
    return f"You have successfully returned {books[isbn]['title']}."

def display_books():
    for isbn, details in books.items():
        print(f"Title: {details['title']}, Author: {details['author']}, ISBN: {isbn}, Available Copies: {details['available_copies']}")

def search_books(search_by, search_value):
    results = []
    for isbn, details in books.items():
        if search_by == 'title' and search_value.lower() in details['title'].lower():
            results.append(details)
        elif search_by == 'author' and search_value.lower() in details['author'].lower():
            results.append(details)

    return results

# Example Usage
add_book("The Great Gatsby", "F. Scott Fitzgerald", "123456789", 5)
add_book("1984", "George Orwell", "987654321", 3)

print(borrow_book("user1", "123456789"))
print(borrow_book("user2", "987654321"))

display_books()

print(return_book("user1", "123456789"))

display_books()

results = search_books("author", "Orwell")
for book in results:
    print(book)

You have successfully borrowed The Great Gatsby.
You have successfully borrowed 1984.
Title: The Great Gatsby, Author: F. Scott Fitzgerald, ISBN: 123456789, Available Copies: 4
Title: 1984, Author: George Orwell, ISBN: 987654321, Available Copies: 2
You have successfully returned The Great Gatsby.
Title: The Great Gatsby, Author: F. Scott Fitzgerald, ISBN: 123456789, Available Copies: 5
Title: 1984, Author: George Orwell, ISBN: 987654321, Available Copies: 2
{'title': '1984', 'author': 'George Orwell', 'total_copies': 3, 'available_copies': 2}